@model CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

@if (Model.Basket.Products is null || Model.Basket.Products.Count == 0)
{
    <p class="text-center">Your basket is empty</p>
}
else
{
    <section class="d-flex justify-content-center checkout-container">
        <section class="d-flex flex-column w-50">
            <a asp-controller="Home" asp-action="Index" class="mb-3">
                <i class="bi bi-arrow-left fs-6"></i>
            </a>
            @foreach (var basketItem in Model.Basket.Products)
            {
                <section class="d-flex justify-content-between pb-4">
                    <div class="d-flex flex-row">
                        <img src="@basketItem.ImageUrl" class="rounded basketItem-image" alt="@basketItem.Description" />
                        <div class="px-2">
                            <span class="d-block fw-bold fs-5">@basketItem.Title</span>
                            <span class="d-block display-1 fs-6">@basketItem.Description</span>
                        </div>                        
                    </div>
                    <div class="d-flex align-items-center">
                        @{
                            if (basketItem.Quantity == 1)
                            {
                                <button class="btn p-0 disabled-cartItem-button" type="submit" disabled>
                                    <i class="bi bi-arrow-left cartItem-amount"></i>
                                </button>
                            }
                            else
                            {
                                <form asp-controller="Cart" asp-action="DecreaseCartItemQuantityByOne" asp-route-id="@basketItem.Id">
                                    <button class="btn p-0" type="submit">
                                        <i class="bi bi-arrow-left cartItem-amount"></i>
                                    </button>
                                </form>
                            }
                        }                                                
                            <span>@basketItem.Quantity</span>
                        <form asp-controller="Cart" asp-action="IncreaseCartItemQuantityByOne" asp-route-id="@basketItem.Id">
                            <button class="btn p-0" type="submit">
                                <i class="bi bi-arrow-right cartItem-amount"></i>
                            </button>
                        </form>                                                
                    </div>                    
                    <span class="d-flex align-items-center display-1 fs-5">$@basketItem.Price</span>
                    <form asp-controller="Cart" asp-action="DeleteCartItemRow" asp-route-id="@basketItem.Id" class="d-flex align-items-center">
                        <button class="btn p-0" type="submit">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>                    
                </section>
            }
            <section class="checkout-section">
                <hr>
                <section class="d-flex flex-row justify-content-between align-items-center">
                    <span class="fw-bold">Total</span>
                    <span class="fw-bold">$@Model.Total</span>
                </section>
                <form asp-controller="Checkout" asp-action="CreateCheckoutSession" class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-outline-dark btn-lg px-5 w-100">Checkout</button>
                </form>
            </section>            
        </section>        
    </section>    
}